<a href="https://colab.research.google.com/github/DDOYEONN/BigData_Analysis_Test/blob/main/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD_%EC%B2%B4%EB%A0%A5%EC%9E%A5_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
데이터 출처 : https://www.kaggle.com/shubh0799/churn-modelling 에서 변형
데이터 설명 : 고객의 신상정보 데이터를 통한 회사 서비스 이탈 예측 (종속변수 : Exited)
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv

In [2]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [ ]:
answer = df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']
answer.mean()

52.19539414750672

50~59세의 신장평균을 구하여라

In [ ]:
condition1 = (df['측정나이'] >= 50) & (df['측정나이'] <= 59)
condition1

0         True
1        False
2        False
3        False
4        False
         ...
13391    False
13392    False
13393    False
13394    False
13395    False
Name: 측정나이, Length: 13396, dtype: bool

In [ ]:
#NAN
df.loc[df['측정나이'] == condition1 ]['신장 : cm'].mean()

nan

In [ ]:
#조건 1. 길이가 같아야 한다. 
#불린값으로 loc에 넣으면 True인 행들이 지정된다.
#불린값(행), : 전체 열로 뽑아짐
df.loc[condition1,:]['신장 : cm'].mean()

164.07490107405314

In [ ]:
df.loc[condition1,:]

연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [15]:
#순서(1.df.측정나이 // 10 ) (2. *10)
df['연령대'] = df.측정나이 // 10*10
result = df['연령대'].value_counts()
print(result)

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 연령대, dtype: int64

In [11]:
#몫 구하기
25 //10

2

In [12]:
#나머지 구하기
25 % 10

5

연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [23]:
df['연령대'] = df['측정나이'] // 10 * 10

In [30]:
condition = df['연령대'].value_counts()

In [ ]:
#시도1 - dataframe형태
a = df[['연령대', '등급']].value_counts()
pd.DataFrame(a)

In [ ]:
#시도2
df.groupby(['연령대','등급']).count()

In [ ]:
# as_index = False 인덱스 0,1,2 형태로 둠
result = df.groupby(['연령대','등급'],as_index=False).size()
print(result)