<a href="https://colab.research.google.com/github/DDOYEONN/BigData_Analysis_Test/blob/main/%ED%82%B9%EC%B9%B4%EC%9A%B4%ED%8B%B0_%EC%A3%BC%EA%B1%B0%EC%A7%80_%EA%B0%80%EA%B2%A9_%EC%98%88%EC%B8%A1%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
데이터 출처 :https://www.kaggle.com/harlfoxem/housesalesprediction (참고, 데이터 수정)
데이터 설명 : 킹카운티 주거지 가격 예측문제
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice//train.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

bedrooms 의 빈도가 가장 높은 값을 가지는 데이터들의 price의 상위 10%와 하위 10%값의 차이를 구하여라

In [4]:
np.unique(df.bedrooms)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 33])

In [51]:
condition1 = df['bedrooms'].value_counts().index[0]
#3

In [55]:
#df.loc[df['bedrooms']==3]
df.loc[df['bedrooms']==condition1].price.quantile(0.9) - df.loc[df['bedrooms']==condition1].price.quantile(0.1)

505500.0